/*
    Colors
    #ff70a6
    #ff9770
    #ffd670
    #e9ff70
    #f2f2f2
    #403d39
*/

.App {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    padding-left: 100px;
    background-color: #f2f2f2;
    width: auto;
    min-height: 100vh;
}

.dark-btn {
    border-radius: 1px;
    color: white;
    background-image: radial-gradient(circle at 50% -46%, #737373, #403d39);
    padding: 10px 20px;
    border: none;
}

h3 {
    font-size: 40px;
    font-weight: 700;
    color: #ff9770;
    margin: 0 0 10px;
}