
    

/*
    Colors
    #ff70a6
    #ff9770
    #ffd670
    #e9ff70
    #f2f2f2
    #403d39
*/

.App {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    padding-left: 100px;
    background-color: #f2f2f2;
    width: auto;
    height: 100vh;
}